
@{
    ViewBag.Title = "Index";
}
<script>

</script>
<style>
    .icon {
        width: 100px;
        height: 100px;
        text-align: center;
        position: relative;
        display: inline-block;
        margin-top: 300px;
    }

        .icon .img-top {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 99;
        }

        .icon:hover .img-top {
            display: inline;
        }
</style>

@using (Html.BeginForm("Index", "HomeController", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="icon">
        <label for="file-input">
            <img src="~/img/uploadicon.png" />
            <img src="~/img/uploadicondark.png" class="img-top" />

        </label>
        <input id="file-input" type="file" style="opacity:0;" value="imageInput" />
    </div>
}
    <div style=" margin-bottom: 300px; color: #151515"><h2>Resminizi buraya yükleyiniz.</h2>
   
    
    </div>
